# Storing Data from .csv into a PostgreSQL DB

In [1]:
import os, gzip, pandas as pd, numpy as np, matplotlib.pyplot as plt
%matplotlib inline

from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.sql import text

from scrapy.selector import Selector

In [25]:
# Creating engine to connect to PostgreSQL
engine = create_engine([YOUR_DATABASE_HERE], echo=True)

In [72]:
source_code = './source_code'
for folder in os.listdir(source_code):
    print(folder)
    for file in os.listdir(source_code + '/' + folder):
        with gzip.open(source_code + '/' + folder + '/' + file) as f:
            file_content = f.read()
        HTML = file_content.decode()
        try:
            id = Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/span/text()').extract()[0].strip()
        except:
            print(file)
            continue
        #print(id)

Business Intelligence
computer vision
Data Analyst
Data Analytics
Data Engineer
Data Science
deep learning
Machine Learning
Research Scientist
Tableau
tensorflow

In [21]:
# Return dataframe based on a keyword
def keyword_to_df(keyword):
    print('Working on search query:', keyword)
    source_code = './source_code'
    features = ['job_id','job_title','emp_type','emp_seniority','job_categories','emp_min_exp','job_skills_req','job_desc','job_req','search_query', \
                'salary_freq', 'salary_low', 'salary_high', 'company_name', 'company_info', 'link']
    posting_dict = {feature:[] for feature in features}
    
    for file in os.listdir(source_code + '/' + keyword):
        with gzip.open(source_code + '/' + keyword + '/' + file) as f:
            file_content = f.read()
            HTML = file_content.decode()
            
        posting_dict['job_id'].append(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/span/text()').extract()[0].strip())
        posting_dict['job_title'].append(Selector(text = HTML).xpath('//*[@id="job_title"]/text()').extract()[0].strip())
        try: posting_dict['emp_type'].append(Selector(text = HTML).xpath('//*[@id="employment_type"]/text()').extract()[0].strip())
        except: posting_dict['emp_type'].append('none')
        try: posting_dict['emp_seniority'].append(Selector(text = HTML).xpath('//*[@id="seniority"]/text()').extract()[0].strip())
        except: posting_dict['emp_seniority'].append('none')
        try: posting_dict['job_categories'].append(Selector(text = HTML).xpath('//*[@id="job-categories"]/text()').extract()[0].strip())
        except: posting_dict['job_categories'].append('none')
        try: posting_dict['emp_min_exp'].append(Selector(text = HTML).xpath('//*[@id="min_experience"]/text()').extract()[0].strip())
        except: posting_dict['emp_min_exp'].append('0 years exp')
        try: posting_dict['job_skills_req'].append(','.join(Selector(text=HTML).xpath('//*[@id="skills-needed"]/div//text()').extract()))
        except: posting_dict['job_skills_req'].append('none')
        try: posting_dict['job_desc'].append(''.join(Selector(text=HTML).xpath('//*[@id="description-content"]//text()').extract()))
        except: posting_dict['job_desc'].append('none')
        try: posting_dict['job_req'].append(''.join(Selector(text=HTML).xpath('//*[@id="requirements-content"]//text()').extract()))
        except: posting_dict['job_req'].append('none')
        posting_dict['search_query'].append(keyword)
        try: posting_dict['salary_freq'].append(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/div/section[2]/div/span[3]/text()').extract()[0].strip())
        except: posting_dict['salary_freq'].append('none')
        try: posting_dict['salary_low'].append(float(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/div/section[2]/div/span[2]/div/span[1]/text()').extract()[0].strip().replace('$','').replace(',','')))
        except: posting_dict['salary_low'].append(0)
        try: posting_dict['salary_high'].append(float(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/div/section[2]/div/span[2]/div/span[2]/text()').extract()[0].strip().replace('$','').replace(',','')))
        except: posting_dict['salary_high'].append(0)
        try: posting_dict['company_name'].append(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/section[1]/p/text()').extract()[0].strip())
        except: posting_dict['company_name'].append('none')
        try: posting_dict['company_info'].append(''.join(Selector(text=HTML).xpath('//*[@id="job_details"]/div[2]/div[1]/div/div/section/section/div[2]/div/div[1]//text()').extract()))
        except: posting_dict['company_info'].append('none')
        posting_dict['link'].append(file)
        
    return pd.DataFrame.from_dict(posting_dict)

In [22]:
test = keyword_to_df('tableau')
test.head()

Working on search query: tableau

,job_id,job_title,emp_type,emp_seniority,job_categories,emp_min_exp,job_skills_req,job_desc,job_req,search_query,salary_freq,salary_low,salary_high,company_name,company_info,link
0,JOB-2019-0084615,Account Receivable Specialist,Full Time,Junior Executive,"Accounting / Auditing / Taxation, Information ...",0 years exp,"Account Management,Customer Service,Event Plan...",What you’ll be doing… As an AR Specialist you...,Who you are… \tExperienced. Minimum associat...,tableau,Monthly,3800.0,6500.0,TABLEAU ASIA PACIFIC PTE. LTD.,Tableau Software is one of the fastest-grow...,account-receivable-specialist-tableau-asia-pac...
1,JOB-2019-0071607,"Analyst, Job",Full Time,Junior Executive,Others,0 years exp,"Change Management,Coaching,Employee Relations,...",Design and develop new data feeds and store in...,"Backgroun in IT and quantitative finance, expe...",tableau,Monthly,7000.0,7500.0,HARTREE PARTNERS SINGAPORE PTE. LIMITED,No information added.,analyst-job-hartree-partners-singapore-cbdd329...
2,JOB-2019-0087577,"Analyst (Sensing & Analytics), Ops Policy and ...",Contract,none,Public / Civil Service,0 years exp,"Army,Command,Defense,DoD,Force Protection,Gove...",Responsibilities:You will support the Ministry...,,tableau,none,0.0,0.0,Ministry of Manpower,\n\tThe Ministry of Manpower (MOM) aims to dev...,analyst-ops-policy-planning-department-1-year-...
3,JOB-2019-0073749,Analyst - Tableau (Analytics / dashboards),"Contract, Full Time",Executive,Banking and Finance,0 years exp,"Analysis,Business Analysis,Business Intelligen...",Allegis Global Solutions is the exclusive Cont...,Data Strategy team primary function is to prov...,tableau,Monthly,3000.0,6000.0,ALLEGIS GLOBAL SOLUTIONS (SINGAPORE) PTE. LTD.,Allegis Global Solutions is a full-service ...,analyst-tableau-allegis-global-solutions-d9580...
4,JOB-2019-0079550,Analytics Engineer,Permanent,Executive,Information Technology,0 years exp,"Agile Methodologies,C,C#,C++,CSS,Eclipse,Git,H...",Job Description The Analytics System team is ...,"Preferred Qualifications \tKnows Tableau, D3...",tableau,Monthly,5000.0,8000.0,ST ENGINEERING MANAGEMENT SERVICES PTE. LTD.,No information added.,analytics-engineer-st-engineering-management-s...

In [26]:
result_df = []
for i in os.listdir('./source_code'):
    df_temp = keyword_to_df(i)
    result_df.append(df_temp)
pd.concat(result_df).drop_duplicates(subset='job_id').to_sql('posting', engine, if_exists='replace', index=False)
# machine_learning = keyword_to_df('Machine Learning')
# machine_learning.drop_duplicates().to_sql('posting', engine, if_exists='replace', index=False)

Working on search query: Business Intelligence
Working on search query: computer vision
Working on search query: Data Analyst
Working on search query: Data Analytics
Working on search query: Data Engineer
Working on search query: Data Science
Working on search query: deep learning
Working on search query: Machine Learning
Working on search query: Research Scientist
Working on search query: Tableau
Working on search query: tensorflow
2019-05-05 00:47:20,713 INFO sqlalchemy.engine.base.Engine select version()
2019-05-05 00:47:20,713 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,748 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-05-05 00:47:20,752 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,768 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-05 00:47:20,768 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,788 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-05 00:47:20,792 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,812 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-05-05 00:47:20,812 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,828 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-05-05 00:47:20,832 INFO sqlalchemy.engine.base.Engine {'name': 'posting'}
2019-05-05 00:47:20,844 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-05-05 00:47:20,848 INFO sqlalchemy.engine.base.Engine {'name': 'posting'}
2019-05-05 00:47:20,868 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2019-05-05 00:47:20,872 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2019-05-05 00:47:20,896 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2019-05-05 00:47:20,900 INFO sqlalchemy.engine.base.Engine {'table_name': 'posting'}
2019-05-05 00:47:20,908 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2019-05-05 00:47:20,908 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:20,924 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2019-05-05 00:47:20,924 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,936 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2019-05-05 00:47:20,936 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:20,948 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2019-05-05 00:47:20,948 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:20,956 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2019-05-05 00:47:20,960 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:20,972 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2019-05-05 00:47:20,972 INFO sqlalchemy.engine.base.Engine {'table': 24654}
2019-05-05 00:47:20,988 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2019-05-05 00:47:20,988 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:20,996 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2019-05-05 00:47:21,000 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:21,008 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2019-05-05 00:47:21,008 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:21,016 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2019-05-05 00:47:21,020 INFO sqlalchemy.engine.base.Engine {'table_oid': 24654}
2019-05-05 00:47:21,032 INFO sqlalchemy.engine.base.Engine
DROP TABLE posting
2019-05-05 00:47:21,036 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:21,052 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-05 00:47:21,064 INFO sqlalchemy.engine.base.Engine
CREATE TABLE posting (
	job_id TEXT,
	job_title TEXT,
	emp_type TEXT,
	emp_seniority TEXT,
	job_categories TEXT,
	emp_min_exp TEXT,
	job_skills_req TEXT,
	job_desc TEXT,
	job_req TEXT,
	search_query TEXT,
	salary_freq TEXT,
	salary_low FLOAT(53),
	salary_high FLOAT(53),
	company_name TEXT,
	company_info TEXT,
	link TEXT
)


2019-05-05 00:47:21,068 INFO sqlalchemy.engine.base.Engine {}
2019-05-05 00:47:21,100 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-05 00:47:21,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-05 00:47:21,148 INFO sqlalchemy.engine.base.Engine INSERT INTO posting (job_id, job_title, emp_type, emp_seniority, job_categories, emp_min_exp, job_skills_req, job_desc, job_req, search_query, salary_freq, salary_low, salary_high, company_name, company_info, link) VALUES (%(job_id)s, %(job_title)s, %(emp_type)s, %(emp_seniority)s, %(job_categories)s, %(emp_min_exp)s, %(job_skills_req)s, %(job_desc)s, %(job_req)s, %(search_query)s, %(salary_freq)s, %(salary_low)s, %(salary_high)s, %(company_name)s, %(company_info)s, %(link)s)

In [ ]:
# source_code = './source_code'
# features = ['id', 'company', 'title']
# posting_dict = {feature:[] for feature in features}
# for folder in ['Business Intelligence']:
#     print('Working on search query:', folder)
#     for file in os.listdir(source_code + '/' + folder):
#         with gzip.open(source_code + '/' + folder + '/' + file) as f:
#             file_content = f.read()
#         HTML = file_content.decode()
#         posting_dict['id'].append(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/span/text()').extract()[0].strip())
#         posting_dict['company'].append(Selector(text = HTML).xpath('//*[@id="job_details"]/div[1]/div[2]/div[1]/section[1]/p/text()').extract()[0].strip())
#         posting_dict['title'].append(Selector(text = HTML).xpath('//*[@id="job_title"]/text()').extract()[0].strip())
# pd.DataFrame.from_dict(posting_dict).drop_duplicates().to_sql('posting', engine, if_exists='replace', index=False)

In [ ]:
# query = """
# select column_name,data_type 
# from information_schema.columns 
# where table_name = 'posting';
# """
# pd.read_sql(query, con=engine)

In [ ]:
# query = """
# ALTER TABLE posting
# ALTER COLUMN salary_low TYPE NUMERIC;
# """
# engine.execute(query)